<%= render 'shared/account_nav', :current => 'stores' %>

<div class='clear'></div>
<div class='middle'>
  <div class='middle-inner'>
    <div class='inner'>
      <div class='main'>
        <div class='main-inner'>
          <h3>Deployment Service for <%= link_to @store.name, @store %></h3>
          <%= render 'shared/error_messages', :target => @deploy %>
          <%= form_for @deploy do |f| %>
            <%= hidden_field_tag :store_id, @store.id %>
            <fieldset>
              <ol>
                <%= render :partial => "form", :object => f %>
                <li class="button-item">
                  <input class="button green" name="commit" type="submit" value="Add">
                </li>
              </ol>
            </fieldset>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>

